@model SewaPatra.Models.Area

@{
    ViewBag.Title = "Add Area";
}

@if(ViewBag.Message != null){
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<div class="card-body">
    <div class="pagetitle mt-2">
        <h1>Add Area</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Master</a></li>
                <li class="breadcrumb-item">Area</li>
                <li class="breadcrumb-item active">Add Area</li>
            </ol>
        </nav>
    </div>
    <!-- Vertical Form -->
    <form class="row g-3" method="post" asp-action="Area" asp-controller="Master">
        <div class="col-3">
            <label asp-for="Area_name" class="form-label">Area Name</label>
            <input type="text" class="form-control" asp-for="Area_name" id="areaName">
        </div>
        <div class="col-3">
            <label asp-for="Area_type" class="form-label">Area Type</label>
            <input type="text" class="form-control" asp-for="Area_type" id="areaType">
        </div>
        <div class="row mb-3">
            <label asp-for="Under" class="form-label">Under</label>
            <div class="col-3">
                <select asp-for="Under" class="form-select" aria-label="Select Coordinator">
                    <option selected>select Coordinator</option>
                    <option value="1">Ram</option>
                    <option value="2">Shyam</option>
                </select>
            </div>
        </div>
        <div class="text-Left">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form><!-- Vertical Form -->

</div>