
<div class="card-body">
    <h5 class="card-title">Coordinator Master</h5>

    <form class="row g-3">
        <div class="col-md-12">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="Name" required>
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="col-md-6">
            <label for="mobileNo" class="form-label">Mobile No</label>
            <input type="password" class="form-control" id="mobileNo">
        </div>
        <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="University Road, Kalimati">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-md-6">
            <label for="MobileNo2" class="form-label">Mobile No</label>
            <input type="text" class="form-control" id="MobileNo2">
        </div>
        <div class="col-md-4">
            <label for="city" class="form-label">City</label>
            <select id="city" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="area" class="form-label">Area</label>
            <select id="area" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="under" class="form-label">Under</label>
            <select id="under" class="form-select">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="Status" class="form-label">Status</label>
            <select class="form-select" aria-label="Select Status">
                <option selected>select Status</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
            </select>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>

</div>