<div class="card-body">   
    <h5 class="card-title">Donation Box Master</h5>

    <form class="row g-3">
        <div class="row col-3">
            <label for="boxName" class="form-label">Donation Box Name</label>
            <input type="text" class="form-control" id="boxName">
        </div>
        <div class="row">
            <label class="form-label">Status</label>
            <div class="row col-3">
                <select class="form-select" aria-label="Select Status">
                    <option selected>select Status</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                </select>
            </div>
        </div>
        <div class="text-Left">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>
</div>